.header{
    width: 100px;
}
.navbar{
    border: 1px solid #003651;
    background-color: #003651;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.a_nav{
    color:#f2f2f2;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center; 
    font-size: 17px;
}
.definition{
    background-color: #111130;
    color: white;
    padding: 1% 1%;
    margin-top: 10px;
    border-top-left-radius: 30px;
    border-bottom-right-radius:30px ;

}
.images_aaa{
    display: flex;
    justify-content: space-around;
}

.courses_img{
    margin: 10px;
    text-align: center;
    line-height: 75px;
}
h3{
    text-align: center;
    color: #111130;
    font-family: Arial, Helvetica, sans-serif;
}
.footer{
    position: fixed;
    left: 10%;
    bottom: 0%;
    width: 80%;
    background-color: #c5eec5;
    font-family: Arial, Helvetica, sans-serif;
}
.grid_container{
    display: grid;
    grid-template-columns: auto auto auto;
}
